
{
	"namespaces": {
		"matrix-display": {
			"consumer" : "matrix-display",
			"provider" : "matrix-display-provider",
			"messages" : ["text", "perlin", "rain", "clear", "emoji", "animation"],
			"events"   : []
		},
		"tellstick": {
			"consumer" : "tellstick",
			"provider" : "tellstick-provider",
			"messages" : ["turnOn", "turnOff"],
			"events"   : ["tellstick"]
		}

	}
}
